parameters:
	level: 5
	treatPhpDocTypesAsCertain: false
	paths:
		- .
	excludePaths:
		- Tests/*
		- vendor/*
	ignoreErrors:
		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			path: Form/Step.php
